<section class="w-full flex flex-col gap-6 justify-center items-center">
    <h2 class="text-6xl text-indigo-700 font-bold">{{ 'form.work.title' | transloco }}</h2>
    <form [formGroup]="form" class="w-full h-full flex flex-col gap-4">
        <mat-form-field>
            <mat-label>{{ 'form.work.ocupation.label' | transloco }}</mat-label>
						<mat-icon matPrefix>business</mat-icon>
						@if(hasOcupations()) {
            <mat-select matInput [placeholder]="('form.work.ocupation.placeholder' | transloco)" formControlName="ocupation">
              @for (ocupation of ocupations(); track ocupation.id) {
                <mat-option [value]="ocupation.title">
                    {{ ocupation.title }}
                </mat-option>
              }
            </mat-select>
						} @else {
							<input matInput [placeholder]="('form.work.ocupation.placeholder' | transloco)" formControlName="ocupation" />
						}
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'form.work.company.label' | transloco }}</mat-label>
						<mat-icon matPrefix>business</mat-icon>
            <input matInput [placeholder]="('form.work.company.placeholder' | transloco)" formControlName="company" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'form.work.salary.label' | transloco }}</mat-label>
						<mat-icon matPrefix>payments</mat-icon>
            <input matInput [placeholder]="('form.work.salary.placeholder' | transloco)" formControlName="salary" appCurrencyMask inputmode="numeric" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'form.work.skills.label' | transloco }}</mat-label>
            <input matInput [placeholder]="('form.work.skills.placeholder' | transloco)" formControlName="skills" />
        </mat-form-field>

    </form>
</section>
