<section class="w-full flex flex-col gap-6 justify-center items-center">
    <h2 class="text-6xl text-indigo-700 font-bold">{{ 'form.ident.title' | transloco }}</h2>
    <form class="w-full h-full flex flex-col gap-[16px]" [formGroup]="form">
        <mat-form-field>
            <mat-label>{{ 'form.ident.name.label' | transloco }}</mat-label>
						<mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="name">
            <mat-hint>{{ 'form.ident.name.hint' | transloco }}</mat-hint>
            @if (hasError('name', 'required')) {
                <mat-error>{{ 'form.ident.name.errors.required' | transloco }}</mat-error>
            }
            @if (hasError('name', 'minlength')) {
                <mat-error>{{ 'form.ident.name.errors.minlength' | transloco }}</mat-error>
            }
            @if (hasError('name', 'pattern')) {
                <mat-error>{{ 'form.ident.name.errors.pattern' | transloco }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field (click)="openDatePicker()">
            <mat-label>{{ 'form.ident.birthDate.label' | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthDate"
              [max]="maxDate"
              placeholder="DD/MM/AAAA"
              readonly
            />
            <mat-hint>{{ 'form.ident.birthDate.hint' | transloco }}</mat-hint>
            <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (hasError('birthDate', 'required')) {
                <mat-error>{{ 'form.ident.birthDate.errors.required' | transloco }}</mat-error>
            }
            @if (hasError('birthDate', 'dateInvalid')) {
                <mat-error>{{ 'form.ident.birthDate.errors.invalid' | transloco }}</mat-error>
            }
            @if (hasError('birthDate', 'dateInFuture')) {
                <mat-error>{{ 'form.ident.birthDate.errors.future' | transloco }}</mat-error>
            }
            @if (hasError('birthDate', 'minAge')) {
                <mat-error>{{ 'form.ident.birthDate.errors.minAge' | transloco }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'form.ident.phone.label' | transloco }}</mat-label>
            <mat-icon matPrefix>call</mat-icon>
            <input matInput [placeholder]="('form.ident.phone.placeholder' | transloco)" formControlName="phone" inputmode="tel" autocomplete="tel-national" maxlength="16" appPhoneMask>
            @if (hasError('phone', 'required')) {
                <mat-error>{{ 'form.ident.phone.errors.required' | transloco }}</mat-error>
            }
            @if (hasError('phone', 'phoneLength')) {
                <mat-error>{{ 'form.ident.phone.errors.length' | transloco }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'form.ident.cpf.label' | transloco }}</mat-label>
            <mat-icon matPrefix>badge</mat-icon>
            <input matInput [placeholder]="('form.ident.cpf.placeholder' | transloco)" formControlName="cpf" inputmode="numeric" autocomplete="off" maxlength="14" appCpfMask>
            @if (hasError('cpf', 'required')) {
                <mat-error>{{ 'form.ident.cpf.errors.required' | transloco }}</mat-error>
            }
            @if (hasError('cpf', 'cpfLength')) {
                <mat-error>{{ 'form.ident.cpf.errors.length' | transloco }}</mat-error>
            }
            @if (hasError('cpf', 'cpfInvalid')) {
                <mat-error>{{ 'form.ident.cpf.errors.invalid' | transloco }}</mat-error>
            }
        </mat-form-field>
    </form>
</section>
