@if(resumes().length > 0) {
<mat-list class="!w-full !flex !flex-col !gap-2">
	@for(resume of resumes(); track resume.id) {
	<app-resume-list-item
		[resumeId]="resume.id ?? ''"
		[name]="resume.name"
		[ocupation]="resume.ocupation"
		[salary]="resume.salary"
		(delete)="deleteResume($event)"
	></app-resume-list-item>
	}
</mat-list>
<div class="w-full flex justify-center py-2">
  <mat-paginator

    [length]="total()"
    [pageIndex]="page() - 1"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="handlePage($event)"

    showFirstLastButtons
  />
</div>
} @else {
<article class="w-full flex items-center justify-center py-10">
	<div class="w-full max-w-xl flex flex-col items-center text-center gap-4 px-4">
		<img
			class="w-[160px] h-[160px] md:w-[200px] md:h-[200px]"
			src="images/no-content.svg"
			alt="Nenhum registro encontrado"
		/>
		<h3 class="text-2xl text-slate-600 font-bold">{{ 'noCandidates.title' | transloco }}</h3>
		<p class="text-slate-500">{{ 'noCandidates.description' | transloco }}</p>
		<button
			mat-button
			class="!w-full sm:w-auto !px-6 !py-3 !rounded-lg !bg-indigo-600 !text-white"
			routerLink="/"
		>
			{{ 'noCandidates.button' | transloco }}
		</button>
	</div>
</article>
}
