<footer class="w-full flex justify-between items-center h-16 bg-indigo-700 py-2 px-[16px] md:px-[24px] lg:px-[10%] gap-6">
  <p class="text-center text-white font-bold">Verity_</p>
  <ul class="flex gap-4">
    <li class="text-indigo-200 font-normal">Home_</li>
    <li class="text-indigo-200 font-normal">Resumes_</li>
    <li class="text-indigo-200 font-normal">Jobs_</li>
    <li class="text-indigo-200 font-normal">Profile_</li>
    <li class="text-indigo-200 font-normal">Logout_</li>
  </ul>
</footer>
